---

---

<nav>
  <img
    src="/ws logo white.png"
    alt="webstars ltd company logo"
    class="max-w-40 hidden dark:block"
  />

  <img
    src="/ws logo grey.png"
    alt="webstars ltd company logo"
    class="max-w-40 dark:hidden"
  />
</nav>
