---
import BaseLayout from '@layouts/base-layout.astro';
import SEOMeta from '@components/meta/seo-meta.astro';
import type { MetaFields } from '@lib/types';

let metaFields: MetaFields = {
  title: 'Contact',
  description:
    'Webstars are experts in everything digital - from design and development, to strategy and ongoing support, we are a full-service agency here to bring your digital aspirations to life',
};
---

<BaseLayout>
  <SEOMeta slot="seo-tags" type={'page'} metaFields={metaFields} />

  <Fragment slot="main">
    <div class="ws-container">
      <h2 class="text-brand-primary-900 font-sans">Contact us</h2>
      <iframe
        id="nfContactForm"
        src="https://f.nativeforms.com/JZDdV1jZm80UPJnWH1Db"
        width="100%"
        height="600"
        frameborder="0"
      >
      </iframe>
    </div>
  </Fragment>
</BaseLayout>
