---
import BaseLayout from '@layouts/base-layout.astro';
import SEOMeta from '@components/meta/seo-meta.astro';
import type { MetaFields } from '@lib/types';

let metaFields: MetaFields = {
  title: 'Contact',
  description:
    'Webstars are experts in everything digital - from design and development, to strategy and ongoing support, we are a full-service agency here to bring your digital aspirations to life',
};
---

<!-- <SEO
          title="Contact"
          description={
            "Webstars are experts in everything digital - from design and development, to strategy and ongoing support, we are a full-service agency here to bring your digital aspirations to life."
          }
        />
<NativeForms
              form="https://form.nativeforms.com/JZDdV1jZm80UPJnWH1Db"
              onClose={result => console.log("on-close", result)}
              onSend={result => console.log("on-send", result?.form?.completed)}
            /> -->
<BaseLayout>
  <SEOMeta slot="seo-tags" type={'page'} metaFields={metaFields} />

  <Fragment slot="main">
    <div class="ws-container">
      <h2 class="text-brand-primary-900 font-sans">Contact us</h2>
    </div>
  </Fragment>
</BaseLayout>

<script is:inline>
  window.nativeForms = {
    license: 'JZDdV1jZm80UPJnWH1Db',
  };
</script>

<script src="https://script.nativeforms.com/main.js" async></script>
