---
Astro.response.headers.set(
  'Cache-Control',
  'public, max-age=300, s-maxage=3600'
);
// Tell the CDN to treat it as fresh for 5 minutes, then return a stale version while it revalidates
Astro.response.headers.set(
  'Netlify-CDN-Cache-Control',
  'public, s-maxage=604800, stale-while-revalidate=604800'
);

import BaseLayout from '@layouts/base-layout.astro';
import SEOMeta from '@components/meta/seo-meta.astro';
import type { MetaFields } from '@lib/types';

let metaFields: MetaFields = {
  title: 'Contact',
  description:
    'Webstars are experts in everything digital - from design and development, to strategy and ongoing support, we are a full-service agency here to bring your digital aspirations to life',
};
---

<BaseLayout>
  <SEOMeta slot="seo-tags" type={'page'} metaFields={metaFields} />

  <Fragment slot="main">
    <header class="pb-16">
      <div class="ws-container">
        <h1
          class="text-center text-5.5xl leading-13 text-brand-secondary-900 dark:text-brand-primary-900"
        >
          Contact Us
        </h1>
      </div>
    </header>
    <div class="ws-container mt-10 mb-32">
      <div 
        class="opcrm-webform" 
        id="opcrm-webform-6981e10680c403bd8e838381" 
        data-form-url="https://forms.onepagecrm.com/6981e10680c403bd8e838381/"
      ></div>
      <script type="text/javascript" src="https://forms.onepagecrm.com/embed.js"></script>
    </div>
  </Fragment>
</BaseLayout>
