---
import { type SbBlokData } from '@storyblok/astro';
import type { ComponentProps } from '@lib/types';
import { isMap } from '@lib/helpers';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import GlobalCta from './global-cta.astro';

const {
  blok,
  links = [],
  pageSlug,
  isHomePage,
} = Astro.props as ComponentProps;

let body: SbBlokData[] = [];

if (blok.body && isMap<SbBlokData>(blok.body)) body = blok.body;

// title
// tagline
// description
// meta_title
// meta_description
// body (blocks)
---

<header class="pb-16" {...storyblokEditable(blok)}>
  <h1 class="text-center text-5.5xl leading-13 text-brand-secondary-900">
    {blok.title}
  </h1>
  <p class="text-center tagline text-5.25xl leading-13">{blok.tagline}</p>
</header>

<div class="ws-container" {...storyblokEditable(blok)}>
  {
    body?.map((blok: any) => {
      return <StoryblokComponent blok={blok} links={links} />;
    })
  }
</div>

<div class="md:ws-container">
  <GlobalCta />
</div>
