@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans font-normal text-base text-brand-black-700 md:leading-relaxed dark:text-white dark:bg-black transition-all duration-200 ease-linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-headings;
  }

  h1,
  .heading-1 {
    @apply text-4xl font-[500];
  }

  h2,
  .heading-2 {
    @apply text-3xl;
  }

  h3,
  .heading-3 {
    @apply text-2xl font-semibold;
  }

  h4,
  .heading-4 {
    @apply text-xl;
  }

  h5,
  .heading-5 {
    @apply text-lg;
  }

  h6,
  .heading-6 {
    @apply text-base;
  }

  a {
    @apply hover:text-brand-primary-500 transition-colors duration-500 ease-linear;
  }

  .ws-container {
    @apply mx-auto px-4 max-w-5.5xl;
  }

  .ws-container .ws-container {
    @apply px-0;
  }

  .tagline {
    @apply heading-1 text-brand-primary-900 font-semibold dark:text-white;
  }
}

@layer components {
  footer h4,
  footer header {
    @apply text-3xl font-bold font-sans mb-8;
  }

  .has-card-hover-effect {
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
      transform: translateY(-20px);
    }
  }

  .ws-container.prose {
    span {
      @apply dark:!text-white;
    }

    a {
      @apply text-brand-primary-900;
    }

    h1 {
      @apply text-brand-primary-900;
    }

    h2 {
      @apply font-sans font-semibold text-3xl text-brand-secondary-900 leading-[46px] mb-9 dark:text-brand-primary-900 only:text-white sm:text-4xl;
    }

    h3 {
      @apply font-sans text-3xl font-semibold !text-brand-primary-900 mt-10;

      b {
        @apply font-semibold;
      }
      span {
        @apply !text-brand-primary-900;
      }
    }
  }

  .project-cta.prose-lg h2 {
    @apply text-xl text-brand-dark-500 font-sans leading-tight font-[600] mb-0 md:text-3xl dark:text-white;

    > a {
      @apply text-brand-primary-900;
    }
  }

  .insight-cta.prose-lg {
    @apply text-xl text-brand-dark-500 font-sans leading-tight font-[600] mb-0 md:text-3xl dark:text-white;

    span {
      @apply dark:!text-white;
    }

    a {
      @apply text-brand-primary-900;
    }
  }

  .insight-content.prose {
    @apply dark:text-white;

    span {
      @apply dark:!text-white;
    }

    h2 {
      @apply font-sans font-semibold text-4xl text-brand-secondary-900 leading-[46px] mb-9 dark:text-brand-primary-900;
    }

    h3 {
      @apply font-headings text-3xl font-semibold !text-brand-primary-900 mt-10;

      b {
        @apply font-semibold;
      }
      span {
        @apply !text-brand-primary-900;
      }
    }

    a {
      @apply no-underline hover:underline;
    }
  }

  .product-quote.prose-lg {
    @apply text-xl text-brand-dark-500 font-sans leading-tight font-[600] mb-0 md:text-3xl dark:text-white;

    span {
      @apply dark:!text-white;
    }

    a {
      @apply text-brand-primary-900;
    }
  }

  .author-content.prose {
    a {
      @apply text-brand-primary-900;
    }
  }

  .ws-home-page-intro {
    h2 {
      @apply font-sans font-semibold text-4.25xl !text-brand-dark-500 leading-11 dark:!text-white max-sm:text-3xl;
    }
  }

  /*================================================
    Services page CSS
  =================================================*/
  table.pricing-table {
    @apply w-full p-0 mt-3 bg-gradient-to-br from-brand-primary-900 to-brand-secondary-900;

    th,
    td {
      @apply text-white;
    }

    thead {
      tr:not(.table-divider) {
        th {
          @apply font-sans font-black pt-8 pr-3 pb-3 pl-6 text-left;
        }

        th:nth-child(2) {
          @apply bg-brand-secondary-700 md:pl-14;
        }
      }
      tr.table-divider {
        th {
          @apply pl-6;
        }
        th:nth-child(2) {
          @apply bg-brand-secondary-700 pr-6 pl-0;
        }
      }
    }

    tbody {
      tr {
        td {
          @apply py-3 pr-3 pl-6;
        }

        td:nth-child(2) {
          @apply bg-brand-secondary-700 md:pl-14;
        }
      }

      tr:last-child {
        td {
          @apply pb-12;
        }
      }
    }
  }

  @media only screen and (max-width: 470px) {
    table.pricing-table {
      /* display: block; */
      overflow-x: auto;
      white-space: nowrap;

      thead th:first-child {
        min-width: 60%;
      }

      /* thead th:last-child {
        min-width: 40%;
      } */

      tbody td:nth-child(1) {
        min-width: 60%;
      }
      /* tbody td:nth-child(2) {
        min-width: 40%;
      } */
    }
  }
}

@layer utilities {
  .prose
    :where(.prose > ul > li > *:last-child):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    ) {
    margin-bottom: 0;
  }
  .prose
    :where(.prose > ul > li > *:first-child):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    ) {
    margin-top: 0;
  }
  .prose
    :where(ul > li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    padding-inline-start: 0.175em;
  }
  .prose :where(li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
  }
  .prose
    :where(ul > li):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::marker {
    color: inherit;
  }

  .prose h3 + h4 {
    @apply -mt-3;
  }
}
