---
import '@assets/styles/global.css';

import { storyblokApi } from '@lib/api';
import type { MenuLinkItem } from '@lib/types';

import BaseMeta from '@components/meta/base-meta.astro';
import Icons from '@components/meta/icons.astro';
import Scripts from '@components/global/scripts.astro';
import MainNav from '@components/navigation/main-nav.astro';
import Footer from '@components/global/footer.astro';

const { data } = await storyblokApi('cdn/stories/global', {
  resolve_links: 'url',
});

const links = data.links;
const mainMenu: Array<MenuLinkItem> = data.story?.content?.main_menu;
---

<html lang="en" data-theme="alpha" class="scroll-smooth">
  <head>
    <BaseMeta />
    <Icons />
    <slot name="seo-tags" />
    <Scripts />

    <slot name="schema" />
  </head>
  <body class="overscroll-none">
    <header>
      <MainNav mainMenuItems={mainMenu} links={links} />
    </header>
    <main>
      <slot name="main" />
    </main>
    <Footer />
  </body>
</html>
